<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>AddressBook</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--<h1>AddressBook</h1>-->
<!--<p th:text="|AddressBook ID: ${id}|"/>-->
<!--<form th:action="@{/addressBook/{id}/getBuddies(id=${id})}" method="get">-->
<!--    <button type="submit">Get Buddies</button>-->
<!--</form>-->
<!--<form action="#" th:action="@{/addressBook/{id}/addBuddy(id=${id})}" th:object="${addressBook}" method="get">-->
<!--    <button type="submit">Add Buddy</button>-->
<!--</form>-->
<!--<form action="#" th:action="@{/addressBook/{id}/removeBuddy(id=${id})}" th:object="${addressBook}" method="get">-->
<!--    <button type="submit">Remove Buddy</button>-->
<!--</form>-->
<!--</body>-->